* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

.header {
    min-height: 100px;
}

.container {
    border: 1px solid red;
    max-width: 800px;
    margin: 20px auto; 
    background-color: #c7ccd4; 
}